<!DOCTYPE html>
<html>
    <head>
        <% include template/head.html %>
    </head>
    <body>
        <% include template/header.html %>
        <div id="content" class="container">
            <% for(var i=0; i<jiraJson.parents.length; i++) {%>
                <%
                    if(jiraJson.parents[i].title != 'other') {
                %>
                <div class="row parent-task">
                    <div class="col-md-11 title">
                        <%= jiraJson.parents[i].title %>
                    </div>
                    <div class="col-md-1 time">
                        <%= jiraJson.parents[i].timespent.hours %>
                    </div>
                </div>
                <div>
                    <%
                        for(var j=0; j<jiraJson.parents[i].childs.length; j++) {
                    %>
                    <div class="row sub-task">
                        <div class="col-md-11 title">
                            <%= jiraJson.parents[i].childs[j].title %>
                        </div>
                        <div class="col-md-1 time">
                            <%= jiraJson.parents[i].childs[j].timespent.hours %>
                        </div>                         
                    </div>
                    <%
                        }
                    %>
                </div>
                <%
                    } else {
                %>
                <div class="row parent-task">
                    <div class="col-md-11 title">
                        Others
                    </div>
                    <div class="col-md-1 time">
                        <%= jiraJson.parents[i].timespent.hours %>
                    </div>
                </div>
                <div>
                    <%
                        for(var j=0; j<jiraJson.parents[i].childs.length; j++) {
                    %>
                    <div class="row sub-task">
                        <div class="col-md-11 title">
                            <%= jiraJson.parents[i].childs[j].title %>
                        </div>
                        <div class="col-md-1 time">
                            <%= jiraJson.parents[i].childs[j].timespent.hours %>
                        </div>                         
                    </div>
                    <%
                        }
                    %>
                </div>
                <%
                    }
                %>                          
            <% } %>
            <div class="row sum-task">
                <div class="col-md-11">
                    Total 
                </div>
                <div class="col-md-1">
                    <%= jiraJson.timespent.hours %>
                </div>
            </div>
        </div>
    </body>
</html>
