<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <% for(var i=0; i<jiraJson.length; i++) {%>
                <%
                    if(jiraJson[i].parent.title != 'other') {
                %>
                <h3>
                    <%= jiraJson[i].parent.title %> <%= jiraJson[i].parent.timespent.hours %>
                </h3>
                <div>
                    <%
                        for(var j=0; j<jiraJson[i].childs.length; j++) {
                    %>
                    <div>
                        <%= jiraJson[i].childs[j].title %> <%= jiraJson[i].childs[j].timespent.hours %>
                    </div>
                    <%
                        }
                    %>
                </div>
                <%
                    } else {
                %>
                <h3>
                    Other <%= jiraJson[i].parent.timespent.hours %>
                </h3>
                <div>
                    <%
                        for(var j=0; j<jiraJson[i].childs.length; j++) {
                    %>
                    <div>
                        <%= jiraJson[i].childs[j].title %> <%= jiraJson[i].childs[j].timespent.hours %>
                    </div>
                    <%
                        }
                    %>
                </div>
                <%
                    }
                %>                          
            <% } %>
        </div>
    </body>
</html>
