<!DOCTYPE html>
<html>
    <head>
        <% include template/head.html %>
    </head>
    <body>
        <% include template/header.html %>
        <div id="content" class="container">
            <div id="error_message" class="alert alert-danger" style="display: none"></div>
            <div>
                <form class="form-horizontal" onsubmit="return openJiraXml()">
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="sprintNumber" placeholder="Sprint Number">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Open Jira Xml" class="form-control btn btn-success" />
                        </div>
                    </div>
                </form>     
            </div>
            <div class="row">
                <form action="/builder" method="post">
                    <div class="col-md-12 margin-bottom">
                        <textarea name="xmlText" id="xmlText" class="form-control" placeholder="Jira Xml Content"></textarea>
                    </div>                    
                    <div class="col-md-12 margin-bottom">
                        <input type="submit" value="Create Report" class="form-control btn btn-success" />
                    </div>                    
                </form>        
            </div>
        </div>
        <% include template/footer.html %>
        <script type="text/javascript">
            function openJiraXml() {
                var sprintNumber = $.trim($('#sprintNumber').val());
                if(sprintNumber == "") {
                    $("#error_message").html("Sprint Number is required");
                    $("#error_message").show();
                    return false
                }
                if(isNaN(sprintNumber)) {
                    $("#error_message").html("Sprint Number must be numeric");
                    $("#error_message").show();
                    return false
                } 
                var jiraXmlUrl = '<%= jiraXmlUrl %>';
                jiraXmlUrl = jiraXmlUrl.replace('${sprintNumber}', $('#sprintNumber').val());
                window.open(jiraXmlUrl, '_blank');
                $("#error_message").hide();
                return false;
            }
        </script>
    </body>
</html>
