<!DOCTYPE html>
<html>
    <head>
        <% include template/head.html %>
    </head>
    <body>
        <% include template/header.html %>
        <div id="content" class="container">
            <form action="/builder" method="post">
                <div class="row margin-bottom ">
                    <div class="col-md-12">
                        <textarea name="xmlText" id="xmlText" class="form-control"></textarea>
                    </div>                    
                </div>
                <div class="row margin-bottom ">
                    <div class="col-md-12">
                        <input type="submit" value="Create Report" class="form-control btn btn-success" />
                    </div>                    
                </div>
            </form>        
        </div>
    </body>
</html>
