<!DOCTYPE html>
<html>
    <head>
        <% include template/head.html %>
    </head>
    <body>
        <% include template/header.html %>
        <div id="content" class="container">
            <% for(var i=0; i<jiraJson.parents.length; i++) {%>
                <%
                    if(jiraJson.parents[i].title != 'other') {
                %>
                <h3 class="alert alert-success">
                    <%= jiraJson.parents[i].title %> <%= jiraJson.parents[i].timespent.hours %>
                </h3>
                <div>
                    <%
                        for(var j=0; j<jiraJson.parents[i].childs.length; j++) {
                    %>
                    <div>
                        <%= jiraJson.parents[i].childs[j].title %> <%= jiraJson.parents[i].childs[j].timespent.hours %>
                    </div>
                    <%
                        }
                    %>
                </div>
                <%
                    } else {
                %>
                <h3>
                    Other <%= jiraJson.parents[i].timespent.hours %>
                </h3>
                <div>
                    <%
                        for(var j=0; j<jiraJson.parents[i].childs.length; j++) {
                    %>
                    <div>
                        <%= jiraJson.parents[i].childs[j].title %> <%= jiraJson.parents[i].childs[j].timespent.hours %>
                    </div>
                    <%
                        }
                    %>
                </div>
                <%
                    }
                %>                          
            <% } %>
            <h3>
                Total = <%= jiraJson.timespent.hours %>
            </h3>
        </div>
    </body>
</html>
